* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Helvetica;
    text-shadow: #000 1px 1px;
}

.App {
    /* Centralizando meu form */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /* Background */
    background-image: url("assets/night2.jpg");
    background-size: cover;
    background-position: center;
}